
/* Style sheet of the registration page, including popup */

/* Creating an unused container */
.container {
    height: 300px;
    width: device-width;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 24px;
    border: 2px solid #0f4786;
}

/* center an image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
.formAligned {
    display: block;
    margin-left: 240px;
    width: 50%;
}

/* creating a navigation bar at the top of the screen */
.navbar {
    overflow: hidden;
    background-color: #2166B6;
    font-family: Inter;
}

/* text inside the navigation bar */
.navbar a {
    float: right;
    font-size: 16px;
    font-family: "Inter";
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: device-width;
}

/* Logo inside the navigation bar */
.navbar .logo{
    float: left;
    font-size: 16px;
    font-family: "Brush Script MT", cursive;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: device-width;
}

/* a start button leading to the login page */
.start-button {
    background-color: #2166B6; /* Blue */

    position: relative;
    left: 46%;
    right: 50%;

    border: none;
    display: flex;
    color: white;

    padding: 15px 32px;
    margin-top: -20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius:  8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* hover animation for the start button */
.start-button:hover{
    background-color: #0f4786;
}

/* a dropdown menu button inside navigation bar*/
.dropdown {
    float: right;
    overflow: hidden;
}

/* The actual dropdown button */
.dropdown .dropbtn {
    font-size: 24px; 
    border: none;
    outline: none;
    color: white;
    padding: 16px 64px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
}

/* hover over nav bar */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0f4786;
}

/* Dropdown content cells (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links (text) inside the dropdown */
.dropdown-content a {
    float: none;
    color: #2166B6;
    padding: 16px 32px;
    font-family: Inter;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* a heading (title of website) */
h1 {
    color: #2166B6;
    font-family: "Inter";
    margin-top: 80px;
    font-size: 64px;
    padding: 24px;
    text-align:center;
}

/* a heading (title of login page) */
h2 {
    color: #2166B6;
    font-family: "Inter";
    margin-top: 180px;
    font-size: 48px;
    padding: 24px;
    text-align:center;
}

/* text */
p {
    color:  #04172c;
    font-family: "Inter";
    font-size: 24px;
    margin-top: -60px;
    padding: 24px;
    text-align: center;
}

form {
    color: #04172c;
    font-family: "Inter";
    font-size: 24px;
    margin-top: -60px;
    padding: 24px;
    text-align: center;
}

.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    margin-top: 20px;
    background-color: rgb(255, 221, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-content {
    background-color: rgb(255, 221, 0);
    padding: 20px;
    border-radius: 8px;
    width: 25%;
    margin-top: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
}

.button {
    cursor: pointer;
}


