/* NOT IN USE */


body {
    font-family: Georgia, serif;
    background-color:#7a2187;
    font-weight: bolder;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 221, 0);
    color:#7a2187;
    font-weight: bolder;
}

.searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.searchResults {
    margin-top: 20px;
    text-align: center;
}