body {
    font-family: Georgia, serif;
    background-color:#7a2187;
    font-weight: bolder;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(255, 221, 0);
    color:#7a2187;
    font-weight: bolder;
}

table {
    width: 70%;
}

th h1{
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: #7a2187;

}
td{
    width: 30%;
	font-weight: normal;
	font-size: 1em;
	-webkit-box-shadow:0 2px 2px-2px #0E1119;
	-moz-box-shadow:0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;

}
td, th{
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;

}
/*Background-color of the odd rows */
tr:nth-child(odd){
	background-color: #323C50;

}
/*Background-color of the even rows*/
tr:nth-child(even){
	background-color: #2C3446;
}
th{
	background-color: #1F2739;

}
td:first-child{color: #1F2739;}

tr:hover{
	background-color: #464A52;
	-webkit-box-shadow:0 6px 6px -6px #0E1119;
	-moz-box-shadow:0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

td:hover{
    max-width: 90%;
    max-height: 60%;
	background-color: #FFF842;
	color: #403E10;
	font-weight: bold;
	box-shadow: #7F7C21 -1px  1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
	transform: translate3d(6px, -6px, 0);
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

td:hover img {
    max-width: 90%;
    max-height: 60%;
    transition: max-width 0.4s, max-height 0.4s;
}

@media(max-width: 800px){
	td:nth-child(4),
	th:nth-child(4){display: none;}
}

td {
    transition-duration: 0.4s;
    transition-property: all;
	transition-timing-function: line;
}

img {
    max-width: 30%;
    max-height: 20%;
    object-fit: cover;
    transition-duration: 0.4s;
    transition-property: all;
	transition-timing-function: line;
  }

.searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.searchResults {
    margin-top: 20px;
    text-align: center;
}