
<!-- This is the about page of the website -->


{% extends 'base.html' %}

{% block head %}
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}



{% block body %}
<main></main>
    <section class="center">
        <!-- create title and paragraph for about page -->
        <h2>Welcome to Pour and Listen</h2>
        <p style="line-height: 150%;"><i>Pour and Listen</i> is an immersive game where you enter a cozy bar and engage in meaningful conversations with our attentive bartender. Whether you want to have an everyday conversation or discuss what's on your mind, our bartender is here to listen and make your experience enjoyable.</p>
    </section>
</main>
<footer>
    <br/>
    <!-- the footer (=rights) text -->
    <p style="font-size: 20px;">&copy; 2024 Pour and Listen. All rights reserved.</p>
</footer>
{% endblock %}
