<!DOCTYPE html>

<!-- This html code is the base of other pages -->
<html lang="eng">
    <head>
        <!--Basic set up of the design-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #7a2187; 
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/old_styles.css') }}">

        <!-- Jinja code; shows where custom code for each page goes-->
        {% block head %}{% endblock %}
    </head>

    <body>
        <!-- <div class="model_back"> -->
            



        <!--Creating navigation bar at top of screen-->
        <div class="navbar">

            <!-- <div class="logo">
                <a href="/">Home</a>
            </div> -->

            <div class="logo">
                <img src="{{url_for('static', filename='pal_logo.png')}}" style="width:5%" onclick="window.location.href='/'">
            </div>


            <div class="dropdown">
                <button class="dropbtn" onclick="dropDown()">Menu</button>
                <div class="dropdown-content" id="homepageDropdown">
                    <a href="/">Home</a>
                    <a href="/login">Login</a>
                    <a href="/register">Sign Up</a>
                    <a href="/search">Search</a>
                    <a href="/about">About Us</a>
                </div>
            </div>

        </div>

        {% block body %}{% endblock %}

        <script>
            function dropDown() {
                // 
                // Function that makes the dropdown button work 
                // 
                document.getElementById("homepageDropdown").classList.toggle("show");
            }
        </script>

        
        </div>
    </body>
</html>