<!DOCTYPE html>

<!-- This html code is of the base of the pages where the game will be played, e.g /choosechar-->

<html lang="eng">
    <head>
        <!--Basic set up of the design-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <style>
            body {
                background-color: #7a2187; 
            }
        </style>

        <!-- Jinja code; shows where custom code for each page goes-->
        {% block head %}{% endblock %}
    </head>

    <body>
        <!--Creating navigation bar at top of screen-->
        <div class="navbar">

            <!-- Insert logo image (leading to home page) in top left of nav bar -->
            <div class="logo">
                <img src="{{url_for('static', filename='pal_logo.png')}}" style="width:5%" onclick="window.location.href='/'">
            </div>

            <!-- Create dropdown menu on top right of nav bar-->
            <div class="dropdown">
                <button class="dropbtn" onclick="dropDown()">Menu</button>
                <div class="dropdown-content" id="homepageDropdown">
                    <a href="/">Home</a>
                    <a href="/about">Stats</a>
                    <a href="/search">Search</a>
                </div>
            </div>

        </div>
        {% block body %}{% endblock %}
        
        <script>
            function dropDown() {
                // 
                // Function that makes the dropdown button work 
                // 
                document.getElementById("homepageDropdown").classList.toggle("show");
            }
        </script>
    </body>
</html>