<!DOCTYPE html>

<!-- This html code is the base of other pages -->
<html lang="eng">
    <head>
        <!--Basic set up of the design-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #7a2187; 
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/old_styles.css') }}">

        <!-- Jinja code; shows where custom code for each page goes-->
        {% block head %}{% endblock %}
    </head>

    <body>
        <!--Creating navigation bar at top of screen-->
        <div class="navbar">

            <!-- Insert logo image (leading to home page) in top left of nav bar -->
            <div class="logo">
                <img src="{{url_for('static', filename='images/logo.png')}}" style="width:5%" onclick="window.location.href='/'">
            </div>

            <!-- Create dropdown menu on top right of nav bar-->
            <div class="dropdown">
                <button class="dropbtn" onclick="dropDown()">Menu</button>
                <div class="dropdown-content" id="homepageDropdown">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/search">Search</a>
                    {%if current_user.is_authenticated%}
                        <a href="/logout">Log out</a>
                        <a>{{current_user.username}}</a>
                    {%else%}
                        <a href="/login">Log in</a>
                        <a href="/register">Sign up</a>
                    {%endif%}
                </div>
            </div>

        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash">
            {% for category, message in messages %}
                <li class="flash {{category}}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

        <script>
            const timeout = 3000;
          
            function hide_flash() {
              const flash_messages = document.querySelectorAll('.flash li');
          
              flash_messages.forEach(message => {
                console.log('Deleting flash messages');
                message.style.transition = 'opacity 0.5s ease-out';
                message.style.opacity = '0';
                setTimeout(() => {
                  message.remove();
                }, 500);
              });
            }
            
            setTimeout(hide_flash, timeout);
        </script>

        <script>
            function dropDown() {
                // 
                // Function that makes the dropdown button work 
                // 
                document.getElementById("homepageDropdown").classList.toggle("show");
            }
        </script>

        
        </div>
    </body>
</html>