<!-- This html code is the page where player choose their character (boy or girl)-->

{% extends 'basegame.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
<title>Choose your character</title>
{% endblock %}


{% block body %}

<a class="title">Choose your character</a>
<br/>

<!-- Code showing characters and creating buttons leading to naming character page -->
<!--Boy character-->
<div class='characters'>
    <div class="left section">
        <img src="{{url_for('static', filename='choose_boy.png')}}"  alt="Character Dave" class="image" onclick="window.location.href='/nameboy'">
    </div>

    <!--Girl character-->
    <div class="left section">
        <img src="{{url_for('static', filename='choose_girl.png')}}"  alt="Character Dave" class="image" onclick="window.location.href='/namegirl'">
    </div>
</div>

{% endblock %}