<!-- This html code is the login page, STILL IN USE DESPITE THE 'old' IN THE FILENAME!!!-->

{% extends 'base.html' %}

{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

<!--Creating login title and form-->
<h2>Login</h2>

<!--Creating a form for login purpose-->
<!--Includes username box, password box and submit button-->
<form method="POST" action="">
    <label for="username:"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id='username' required>
    <br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="password" required>
    <br>
    <br>
    <button type="submit" onclick="window.location.href='/choosechar'">Login</button>
    <br>
    <br>
</form>

<!--Text and link leading to registration page-->
<p class = 'textborder'>No account? <a href="/register">Register</a></p>
</div>

{% endblock %}
