<canvas id="summary_chart" width="300px" height="300px" z-index="-10">
</canvas>
<div class="close"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
function random_color() {
    var hex = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; ++i) {
        color += hex[Math.floor(Math.random() * hex.length)];
    }
    return color;
}

var summary_chart = document.getElementById("summary_chart");
const close = document.querySelector('.close');
const summary = document.querySelector('#summary-button');
const canvas = document.querySelector('canvas');

close.addEventListener('click', function() {
    bg.style.display = 'none';
    window.style.display = 'none';
    canvas.style.display = 'none';
});

var summary_data = {};
fetch('http://127.0.0.1:5000/summary_data', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json'
    },
}).then(response => {
    if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
})
.then(data => {
    console.log('Received summary log:', data);
    
    summary_data['labels'] = [];
    summary_data['datasets'] = [{}];
    summary_data['datasets'][0]['data'] = [];
    summary_data['datasets'][0]['backgroundColor'] = [];
    for (var key in data) {
        summary_data['labels'].push(key);
        summary_data['datasets'][0]['data'].push(data[key]);
        summary_data['datasets'][0]['backgroundColor'].push(random_color())
    }
    console.log('Summary data:', summary_data);
    summary_chart.style.zIndex = 10000;
    var pieChart = new Chart(summary_chart, {
        type: 'pie',
        data: summary_data
    });
    pieChart.resize(600, 600);
})

</script>